<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
    <bean id="colorManager" class="com.dependancyinjection.ConstructorDependancyInjection.MainColor">
        <constructor-arg>
            <ref bean="blueColor" />    
        </constructor-arg>
    </bean>
    <bean id="blueColor" class="com.dependancyinjection.ConstructorDependancyInjection.BlueColor" />
</beans>